{% extends 'home/base.html' %}

{% block content %}
<!DOCTYPE html>

	<h1>Terms of Service</h1>

	<p>Welcome to {{org_name}}! By using our website, you agree to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our relationship with you in relation to this website.</p>

	<h2>Disclaimer of Liability</h2>
	<p>The information contained in this website is for general information purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

	<h2>Changes to the Terms of Service</h2>
	<p>We reserve the right to modify or update these terms of service at any time without prior notice. Your continued use of the website after any changes to the terms of service will constitute your acceptance of such changes.</p>

	<h2>Contact Us</h2>
	<p>If you have any questions about these terms of service, please contact us at {{org_email}}.</p>


  
{% endblock %}
