{% extends "logger/base.html" %}

{% block content %}
<div class="">   
    
    <div class="r">
        <h3>Delete Log?</h3>
    </div>
    
    <div class="">
        {% if log %}
        {% include 'logger/comps/log_stats_snippit.html' %}
        <form method="post" action="{% url 'logger:LogDeleteView' log.id %}" >
            {% csrf_token %}
            <div class="">
                <input class="button-danger" type="submit" value="Delete">
                <a class="button-back" href="{% url 'logger:LogDetailView' log.id %}">Back</a>
            </div>
        </form>
        {% endif %}
    </div>   
</div>
{% endblock %}
