{% extends "logger/base.html" %}


{% block content %}
{% if error_message %}
{% include 'logger/comps/error.html'%}

{% else %}

<div class="box-container">
     <div class="box bg-white ">
    <h1 >My Patients</h1>
    {% for patient in patient_list %}
      <div class="box ">
          <h3>{{patient.first_name}} {{patient.last_name}}</h3>
          <ul>
            <li class="footer">
            <a href="{% url 'logger:PatientDetailView' patient.id %}"   class="button-secondary pure-button ">  Details  </a>
            <a href="{% url 'logger:LogListCreateView' patient.id%}" class="button-success pure-button"> Dashboard </a>
          </li>
         </ul>
    </div>
    <hr/>
    {% endfor %}
    </div>
</div>


{% endif %}
{% endblock %}
