
{% extends "logger/base.html" %}

{% block content %}
{% include 'logger/scripts/date_format.html' %}
<div class="box-container">
<div class="box">

        <h3>New Patient</h3>

    
    <div class="">

        <form method="post" action="{% url 'logger:PatientCreateView' %}">
            {% include 'logger/comps/form_snippit.html' %}
            <div >
                <input class="button-secondary" type="submit" value="Create">
                <a class="button-back"  href="{% url 'logger:ProfileView' %}">Back</a>
            </div>
        </form>
        
    </div> 
</div>
{% endblock %}
