<!-- OUR MATH HEALPER-->
{% include 'logger/scripts/dose_helper.html' %}
{% include 'logger/scripts/datetime_format.html' %}

<div class="container"> 
  <h3> New Log</h3>

    <form action="{% url 'logger:LogListCreateView' patient.id %}" 
      method="post"
      id="addForm">
        <input type="checkbox" id="time-active" name="time" value="active" checked>
        <label for="time">Use Current Time</label><br>
        {% include 'logger/comps/form_snippit.html' %}
        {% include 'logger/comps/add_helper_snippit.html' %}
        <input class="button-secondary" type="submit"  value="Submit" >
    </form>

</div><!-- //container -->

