<!-- Dose Helper-->
<div class="dose-helper">
<!-- Dose info -->
    <h6 class="dose-helper">Insulin math helper {% if dose.label %} ({{dose.label}}) {% endif %}:</h6>

    <table class="dose-helper">
        <tr>
            <td class="dose-helper"><!-- BG Helper -->
                    <input 
                        class="bloodsugar dose-helper"
                        id="bloodsugar-helper"
                        type="text"
                        placeholder="BG"
                        disabled
                        readonly>
            </td>
            <td class="dose-helper"><!-- Plus sign -->
                  <span>+</span>
            </td>
            <td class="dose-helper"><!-- Carbs Helper-->
                    <input class="carbs dose-helper"
                        id="carbs-helper"
                        type="text"
                        placeholder="C"
                        disabled
                        readonly>
            </td>
            <td class="dose-helper"><!-- Plus sign -->
                  <span>+</span>
            </td>
            <td class="arrow-helper"><!-- Carbs Helper-->
                    <input class="arrow dose-helper"
                        id="arrow-helper"
                        type="text"
                        placeholder="A"
                        disabled
                        readonly>
            </td>
            <td class="dose-helper"><!-- Equals sign -->
                    <span class="">=</span>
            </td>
            <td class="dose-helper"><!-- Insulin Helper -->
                        <input class="insulin dose-helper"
                            id="insulin-helper"
                            type="text"
                            placeholder="IN"
                            disabled
                            readonly>
            </td>
        </tr>
    </table>
</div><!-- //Helper -->
