<form action="{% url 'logger:LogCreateView' patient.id %}" 
      method="post"
      id="addForm">
{% csrf_token %}
{{ form.patient }}

<!-- Bloodsugar -->
<div class="d-flex flex-row input-group input-group-lg p-2">
    <div class="d-flex">
        <div class="input-group ">
            <div class="input-group-prepend">
                <div class="input-group-text">Bloodsugar:</div>
            </div>
            {{form.bloodsugar}}
            {{ form.bloodsugar.errors}}
        </div>
    </div>
</div><!-- //Bloodsugar -->

<!-- Carbs -->
<div class="d-flex flex-row input-group input-group-lg p-2 ">
    <div class="d-flex">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Carbs:</div>
            </div>
            {{form.carbs}}
            {{form.carbs.errors}}
        </div>
    </div>
</div><!-- //Carbs -->

<!-- Insulin -->
<div class="d-flex flex-row input-group input-group-lg p-2">
    <div class="d-flex">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Insulin:</div>
            </div>
            {{ form.insulin }}
            {{ form.insulin.errors }}
        </div>
    </div>
</div><!-- //Insulin -->


<!-- Basaglar -->
<div class="row">
    <!-- Slider -->
    <div class="col">    
        <div class="custom-control custom-switch">
            {{form.basalcheck}}
            <label class="custom-control-label" for="id_basalcheck">Basaglar</label>
        </div>
    </div><!-- End Slider-->

    <!-- Basaglar Input-->
    <div class="col collapse" id="bas">
        {{form.basal}}
    </div><!-- end Input -->
        
</div><!-- End Basaglar-->

<!-- Submit Button -->
<div class="form-row">
    <div>
        <a href="#" class="btn text-light btn-primary m-3" data-toggle="modal" data-target="#AddModal">Save</a>
    </div>
        
</div><!-- //Submit Button -->

</form>