<!-- Helper Header -->
<div class="d-flex flex-row border-top">
    <h6>Insulin math helper:</h6>
</div>
<!-- Helper boxes --> 
<div class="d-flex flex-row border-bottom">
    <!-- BG Helper -->
    <div class="small-input m-1">
        <input class="form-control "
            id="bloodsugar-helper"
            type="text"
            style="background: #ffaaaa;"
            placeholder="BG"
            disabled
            readonly>
    </div><!-- //BG Helper -->
    
    <!-- Plus sign -->
    <div class="">
        <span class="btn btn-sm border">+</span>
    </div>
    
    <!-- Carbs Helper-->
    <div class="small-input m-1">
        <input class="form-control"
            id="carbs-helper"
            type="text"
            style="background: #aaffaa;"
            placeholder="C"
            disabled
            readonly>
    </div><!-- //Carbs Helper-->
    
    <!-- Equals sign -->
    <div class="">
        <span class="btn btn-sm border">=</span>
    </div>
    
    <!-- Insulin Helper -->
    <div class="small-input m-1">
        <input class="form-control"
            id="insulin-helper"
            type="text"
            style="background: #aaaaff"
            placeholder="IN"
            disabled
            readonly>

    </div><!-- //Insulin Helper-->
</div><!-- //Helper -->