<div class="card">

    <div class="card-header">
        <h2>Log: {{log.date}}</h2>
    </div>

    <div class="card-body">
        {% include 'logger/comps/error_snippit.html' %}

        {% include 'logger/comps/log_card_snippit.html' %}
    </div>

    <div class="card-footer">           

        <!-- Update button -->
        <a class="btn btn-primary m-3" href="{% url 'logger:LogUpdateView' log.id %}">Update</a>

        <!-- Delete button -->
        <a class="btn btn-danger m-3" href="{% url 'logger:LogDeleteView' log.id%}">Delete</a>
    </div>

</div>