
<div class="navbar">
    <table class="navbar">
        <tr>
            <td>
                <a class="button-secondary" href="{% url 'logger:index' %}">Home</a>
            </td>
        </tr>
        
      {% if patient %}
      <tr>
            <td>
                <a class="button-secondary" href="{% url 'logger:PatientDetailView' patient.id%}">Details</a>
            </td>
            <td>
                <a class="button-success" href="{% url 'logger:LogListCreateView' patient.id%}">Dashboard</a>
            </td>
        </tr>

      {% endif %}


{% if request.user.is_authenticated %}
        <tr>
            <td>
                <a class="button-secondary" href="{% url 'logger:ProfileView' %}">My Profile</a>
            </td>
            <td>
                <a class="button-secondary" href="{% url 'logger:PatientListView' %}">My Patients</a>
            </td>
            <td>
                <a class="button-secondary" href="{% url 'logger:LogoutView' %}">Logout</a>
            </td>

{% else %}
        <tr>
            <td>
                <a class="button-secondary" href="{% url 'logger:RegisterView' %}">Sign up</a>
            </td>
            <td>
                <a class="button-secondary" href="{% url 'logger:LoginView' %}">Login</a>
            </td>

{% endif %}
        </tr>
    </table>
    
</div>


