<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between text-light">
    <a class="navbar-brand " href="{% url 'logger:index' %}">Home</a>
    
    {% block page_links %}{% endblock %}
    
{% if request.user.is_authenticated %}    
    <a class="nav-link text-light" href="{% url 'logger:ProfileView' %}">My Profile</a>
    
    
    <div class="d-flex justify-content-between text-light">
        <div class="m-0 p-1">
            <p class="text-bold">Logged in as {{user.username }}. </p>
        </div>
        <div class="m-0 p-1">
            <a class="btn btn-light btn-sm" data-toggle="modal" data-target="#LogoutModal" href="{% url 'logger:LogoutView' %}">logout</a>
        </div>
    </div>
{% else %}
    <div id="loginButton" class="m-0 p-1">
        <a class="btn btn-light" href="{% url 'logger:LoginView' %}">Login</a>
    </div>
{% endif %}
    
</nav>

<div class="modal" tabindex="-1" id="LogoutModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to logout.</p>
      </div>
      <div class="modal-footer">
        <a type="button" 
           class="btn btn-primary"
           href="{% url 'logger:LogoutView' %}"

        >
        Ok
        </a>
        <button type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
