
<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h3>{{patient.first_name}} {{patient.last_name}}</h3>
            </div>
            <div class="col">
                <a href="{% url 'logger:PatientDetailView' patient.id %}"
                    class="btn btn-primary ">
                Details
                </a>
            </div>
            <div class="col">
                <a href="{% url 'logger:PatientView' patient.id%}"
                   class="btn btn-success">
                Dashboard
                </a>
            </div>
        </div>
    </div>
</div>
