<div class="box-container">
    <div class="box">
        
        <ul class="list-group">
            <li class="list-group-item">
                Birthday: {{patient.dob}}
            </li>
            <li class="list-group-item">
                Basal insulin dose: {{patient.basal_dose}}
            </li>
            <li class="list-group-item">
                User Account: {{ patient.user.username}}
            </li>
            <li class="list-group-item">
                Connected Accounts: 
                <ul>
                    {% for user in patient.connected.all %}
                        <li>{{user.username}}</li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">
                <table class="pure-table">
                    <tr>
                        <td> Average TDD:</td> <td> {{patient.getTDD.tdd}} units</td>
                    </tr>
                    <tr>
                        <td>Suggested Basal min</td> <td> {{patient.getTDD.low}} units</td>
                    </tr>
                    <tr>
                        <td> Suggested Basal max</td> <td> {{patient.getTDD.high}} units</td> 
                    </tr>
                </table>
            
            </li>
        </ul>
        
        
    </div>
</div>
