<!-- {{text}} Icon -->
<div class="d-flex flex-row bg-light p-2 m-1 rounded">
<div style="width: {{slide}}%">
  {{age}} ago
  </div>
<div class="d-flex flex-row p-1">
  <div class="d-flex p-1">
                    <div>
                        <span class="text-dark p-1 rounded-left"
                              style="background: #aaaaff">{{text}}</span>
                    </div>
                    <div>
                        <span class="border p-1 m-0 rounded-right">{{value}}</span>
                    </div>
                </div>

  </div>
</div>
<!-- End Icon -->
