<!-- Stats Full -->
<div class="container border-rounded">
    <!-- Stats ordered list -->
    <div class="d-flex flex-column bg-light">
        <!-- Insulin -->

            <div class="d-flex flex-row">
                <span class="col">Insulin</span>
                <span class="col">{{log.insulin}}</span>
            </div>

        <!-- Carbs --> 

            <div class=" d-flex flex-row ">
                <span class="col">Carbs</span>
                <span class="col">{{log.carbs}}</span>
            </div>

        <!-- Bloodsugar -->

            <div class="d-flex flex-row">
                <span class="col">BloodSugar</span>
                <span class="col">{{log.bloodsugar}}</span>
            </div>

        <!-- Logger -->

            <div class=" d-flex flex-row">
                <span class="col">Logger:</span>
                <span class="col">{{log.user}}</span>
            </div>


            <div class="d-flex flex-row p-2">
                <a class="btn btn-primary m-1" href="{% url 'logger:update' log.id %}">Edit</a>
                <!-- Delete button -->
                <a class="btn btn-danger m-1" href="{% url 'logger:delete' log.id%}">Delete</a>
            </div>

    </div><!-- //Stats list -->
</div>
<!-- //Stats Full-->
