{% extends "logger/base.html" %}

{% block content %}
{% include 'logger/comps/form_snippit.html' with form_action="{% url 'logger:LogCreateView' patient.id %}" 
                                                 form_submit_text="Delete"
                                                form_back="{% url 'logger:PatientView' patient.id %}" %}
<!-- Form for changing Log values -->

<form action="{% url 'logger:LogUpdateView' log_id %}" 
method="post"
class="p-2 list-group">
{% csrf_token %}
  <div class="bg-light"> 
    <div class="d-flex flex-column">
    {{ form.as_div }}
    </div>
      <!-- Submit Button -->
      <div class="form-row">
        <input class="btn btn-primary m-3" type="submit" value="save">
        <a class="btn btn-secondary m-3" href="{% url 'logger:LogView' log_id %}">Back</a>
      </div><!-- //Submit Button -->
  </div><!-- //container -->
</form>




{% endblock %}
