{% extends "logger/comps/base.html" %}

{% block content1 %}

<div class="container">
<div class="d-flex flex-column">

{% if error_message %}
<!-- Error message -->
<div class="text-danger mx-4">
        <strong>Error:</strong><br>
        <p class="p-2">{{error_message}}</p>
</div>
<!-- /Error message -->
{% endif %}

{% if success_message %}
<!-- Success message -->
<div class="text-success mx-4">    
        <strong>Success!</strong> <br>
        <p class="p-2">{{success_message}}</p>
</div>
<!-- /Success message -->
{% endif %}


<!-- Stats Full -->
<div class="container  mt-2">
    <!-- Stats ordered list -->
    <ul class="list-group">
        
          <!-- Patient -->
        <li class="d-flex flex-row list-group-item">
            <span class="col">Patient</span>
            <span class="col">{{log.patient}}</span>
        </li>
        
        <!-- Date -->
        <li class="d-flex flex-row list-group-item">
                <span class="col">Date</span>
                <span class="col">{{log.date}}</span>
        </li>
        
    <!-- Insulin -->

        <li class="d-flex flex-row list-group-item">
            <span class="col">Insulin</span>
            <span class="col">{{log.insulin}}</span>
        </li>

    <!-- Carbs --> 

        <li class=" d-flex flex-row list-group-item">
            <span class="col">Carbs</span>
            <span class="col">{{log.carbs}}</span>
        </li>

    <!-- Bloodsugar -->

        <li class="d-flex flex-row list-group-item">
            <span class="col">BloodSugar</span>
            <span class="col">{{log.bloodsugar}}</span>
        </li>
        
      <!-- basal -->

        <li class="d-flex flex-row list-group-item">
            <span class="col">Basal</span>
            <span class="col">{{log.basal}}</span>
        </li>

    <!-- Steps -->

        <li class="d-flex flex-row list-group-item">
            <span class="col">Steps</span>
            <span class="col">{{log.steps}}</span>
        </li>

    <!-- Update Button -->
        <li class="d-flex flex-row  list-group-item">
            <!-- Back button -->
            <span class="">
                <a class="btn btn-secondary mx-1" href="{% url 'logger:PatientView' log.patient_id %}">Back</a>
            </span>
            <!-- update button -->
            <span class="">
                <a class="btn btn-primary mx-1" href="{% url 'logger:LogUpdateView' log.id %}">Update</a>
            </span>
            
              <!-- Delete button -->
            <span class="">
                <button class="btn btn-danger mx-1" data-toggle="modal" data-target="#DeleteModal">Delete</button>
            </span>
            <span class="col-2"></span>
    </ul><!-- //Stats list -->
</div>
<!-- //Stats Full-->
<div class="modal" tabindex="-1" id="DeleteModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this log?</p>
      </div>
      <div class="modal-footer">
        <a type="button" 
           class="btn btn-primary"
           href="{% url 'logger:LogDeleteView' log.id %}">Yes</a>
        <button type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
