{% extends "logger/comps/base.html" %}

{% block content1 %}

<form action="{% url 'logger:add' %}" 
method="post"
class="p-2 list-group">
{% csrf_token %}
{{ form }}
        <!-- Submit Button -->
        <div class="form-row">
            <input class="btn btn-secondary m-3" type="submit" value="save">
        </div><!-- //Submit Button -->
    </div><!-- //container -->
</form>

{% endblock %}
{% block content %}
<div class="col">
    <div class="mx-auto">
        <a href="{% url 'logger:patientDetail' patient.id %}"
           class="btn btn-lrg text-light">
            <h3>{{patient.first_name}} {{patient.last_name}}</h3> 
        </a>
    </div>
</div>


{% if logs %}
<div class="col">
    <ul class="list-group">
        <li class="list-group-item">
            <h3 class="text-center">Recent Logs</h3>
        </li>
        {% for log in logs %}
            {% include 'logger/comps/stats_quick.html' with log=log %}
        {% endfor %}

    </ul>
    
</div>

{% else %}
<p>No logs are available :(</p>
{% endif %}


{% endblock %}
