{% extends "logger/base.html" %}



{% block content %}


<div class="col-11 mx-auto">
    <h1 class="text-center text-light">
        {{patient.first_name}} {{patient.last_name}}
    </h1>

{% include 'logger/comps/add.html' %}
{% include 'logger/comps/graph.html' %}

<div class="col">
    <ul class="list-group">
        <li class="list-group-item">
            <h3 class="text-center">Recent Logs</h3>
        </li>
        {% for log in logs %}
            {% include 'logger/comps/log_stats_snippit.html' with log=log %}
        {% endfor %}

    </ul>
    
</div>

{% endblock %}
