{% extends "logger/base.html" %}

{% block content %}
<div class="card">

    <div class="card-header border">
        <h3>Link Patient</h3>
    </div>
    
    <div class="card-body col-6 d-flex flex-column">

        <form method="post" action="{% url 'logger:PatientLinkView' patient.id %}">
            {% include 'logger/comps/form_snippit.html' %}
            <div class="row">
                <input class="button-secondary pure-button" type="submit" value="Link">
                <a class="button-back" href="{% url 'logger:PatientDetailView' patient.id %}">Back</a>
            </div>
        </form>
        
    </div> 
</div>
{% endblock %}
