{% extends 'logger/comps/base.html' %}

{% block userbox %}
{% endblock %}
{% block content %}
<!-- Logout -->
<div class="card mx-auto p-2">
    <article class="card-body">
        <h3 class="card-title">Are you sure you want to logout?</h3>
        
        <div class="row ">
            <!-- Logout button -->
            <div class="col-xs-3 p-2 ">
                <form method="POST"
                      action="{% url 'logger:logout' %}">
                {% csrf_token %}
                    <div class="form-group ">
                        <input class="form-control btn btn-secondary "
                               type="submit" 
                               value="Logout">
                    </div>
                </form>
            </div>
            
            <!-- Back button -->
            <div class="col-xs-3 p-2">
                <a class="btn btn-primary" href="{% url 'logger:index' %}">Home</a>
            </div>
        </div>
    </article>
</div><!-- //Logout -->
{% endblock %}
